$yellow_color: #ffce6f;
$blue_color: #247ba8;
$light_black: #333333;

.AboutUs {
  font-family: "Days One", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 90px 20px;
  text-align: center;
  

  .AboutUs-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      color: $light_black;
      margin-bottom: 24px;
      font-size: 2em;
    }

    .images {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;

      img {
        width: 100%;
        max-width: 344px;
        height: auto;
        border: 2px solid $yellow_color;
        box-shadow: 0 0 0 3px $blue_color;
        border-radius: 24px;
        margin: 18px;
        object-fit: cover;
        transition: transform 0.3s ease;
        position: relative;
        overflow: hidden;

        /* Наклон для разных изображений */
        &.image-1 {
          transform: rotate(-10deg);
        }

        &.image-2 {
          transform: rotate(3deg);
        }

        &.image-3 {
          transform: rotate(-12deg);
        }
      }
    }

    .text {
      margin-top: 30px;

      p {
        color: $light_black;
        font-size: 16px;
        line-height: 1.5;
        max-width: 800px;
        margin: 0 auto;
      }

      .counter {
        margin: 40px;
        background-color: $yellow_color;
        padding: 15px;
        border-radius: 24px;
        h3 {
          color: $blue_color;
          font-size: 54px;
          font-weight: bold;
        }
      }
    }
  }
}
