$main_color: #247ba8;
$yellow_color: #ffce6f;
$white_color: #ffffff;

.footer {
  box-sizing: border-box;
  font-family: "Days One", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: $main_color;
  margin-top: 58px;
  padding: 44px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  position: absolute;
  left: 0;

  h3 {
    margin-top: 48px;
    position: absolute;
    top: 0; 
    left: 50%;
    transform: translate(-50%, -100%); /* коррекция смещения для центрирования */
    color: $white_color;
    font-size: 1.8em;
  }

  .footer-content {
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    margin-top: 28px;
  }

  .footer-map {
    flex: 1;
    margin-right: 8px;

    iframe {
      border-radius: 28px;
      height: 348px;
      width: 628px;
    }
  }


  .footer-contacts {
    flex: 1;
    text-align: center;
    position: relative;

    p {
      margin: 28px 0px;
      font-size: 1.2em;
      color: white;
    }

    .social-icons {
      margin-top: 28px;
      a {
        padding: 14px;
        margin: 0 14px;
        font-size: 1.5em;
        color: white;
        transition: color 0.3s;

        &:hover {
          color: $yellow_color;
        }
      }
    }
  }

  .footer-qr {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      border: 4px solid $main_color;
      box-shadow: 0 0 0 4px $white_color;
      max-width: 320px;
      height: 320px;
      border-radius: 14px;
    }
  }
}
